

body {
    padding: 0;
    margin: 60px;
    height: 100vh;
    align-items: center;
    background-image: url(daylight-environment-forest-idyllic-459225.jpg); 
    background-size: cover;
    font-size: 25px;
    color: #2B3365;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

header {
    text-align: center;
    border-bottom: solid 3px darkgrey;
    font-size: 60px;
    color: #2B3365;
    margin-top: -50px;
    font-weight: bolder;

}

nav {
    text-align: center;
    color: #2B3365;
    margin-top: -25px;
}
li{
    list-style: none;
    font-size: 25px;
}

#score {
    font-size: 20px;
}

.container{
    height: auto;
    padding: 10px;
    box-shadow: 0 0 10px 3px;
    border-radius: 25px;
    background-color: rgb(211, 211, 211, 0.9);
    width: 80%;
    margin: 0 auto;
}

.btn-grid{
    display: grid; 
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    justify-content: center;
 
}

.btn {
    border: 1px solid rgb(99, 94, 94);
    box-shadow: 0 0 5px 3px;
    background-color: #C7C8CE;
    border-radius: 10px;
    color: #2B3365;
    outline: none;
    width: 300px;
    height: 50px;
    font-size: 20px;
}

.btn:hover{
    border-color: black;
}

.btn.correct {
    background-color: #99ff99;
}

.btn.wrong {
    background-color: #FF9999;
}

.start-btn, .next-btn {
    font-size: 40px;
    font-weight: bold;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hide {
    display: none;
}

#question {
    margin-bottom: 50px;
}


#question-container {
    text-align: center;
}

#score {
    text-align: center;
    margin: 10px;
}

#correct-answer {
    margin-top: 15px;
    font-weight: bold;
}



@media screen and (max-width: 890px) {
	header {
		font-size: 40px;
        height: 10vh;
    }
    nav{
        font-size: 20px;
        width: 90%;
        margin-top: 0;
    }
	.container {
 		width: 100%;
        font-size: 20px;
    }
    .btn {
        width: 200px;
        height: 50px;
        font-size: 15px;
    }
    li{
        font-size: 20px;
    }
    #score {
        text-align: center;
        font-size: 15px;
    }

}







@media screen and (max-width: 576px) {
	header {
		font-size: 30px;
        height: 10vh;
    }
    nav{
        font-size: 15px;
        width: 90%;
        margin-top: 0;
    }
	.container {
 		width: 100%;
        font-size: 15px;
    }
    .btn {
        width: 150px;
        height: 50px;
        font-size: 15px;
    }
    li{
        font-size: 15px;
    }
    #score {
        text-align: center;
        font-size: 15px;
    }

}